[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CPBayes"]
	path = CPBayes
	url = https://github.com/arunabhacodes/cpbayes
[submodule "MPGE"]
	path = MPGE
	url = https://github.com/arunabhacodes/mpge
[submodule "eGST"]
	path = eGST
	url = https://github.com/arunabhacodes/egst
